In [5]:
x=5

print(x)

5

In [7]:
y=3.14

print(y)

3.14

In [9]:
num='123'
num1=int(num)
print(num1)

123

In [15]:
i=42
string=str(i)
print(string)

42

In [5]:
num=int(input())

if((num>0) and (num%2==0)):
    print("the number is positive and even")
elif((num>0) and (num%2!=0)):
    print("the number is positive and odd")
elif(num<0):
    print("the calculation stopped")

 6

the number is positive and even

In [11]:
char = input("Enter a single character: ")

# Check if input is a single character
if len(char) != 1:
    print("Please enter exactly one character.")
else:
    # Check using ASCII ranges with 'or' operator
    if ('0' <= char <= '9') or ('A' <= char <= 'Z'):
        if '0' <= char <= '9':
            print("The character is a number.")
        elif 'A' <= char <= 'Z':
            print("The character is an uppercase letter.")
    else:
        print("The character is neither a number nor an uppercase letter.")

Enter a single character:  0

The character is a number.

In [15]:
user_data=input()

if not user_data:
    print("you did not enter anything")
else:
    print("you have entered something")

 23

you have entered something

In [ ]:
num=int(input())

if((num%3==0) and (num%5!=0)):
    print("Accepted")
elif((num%3==0) and(num%5==0)):
    print("not accepted")

In [3]:
Score=int(input())

if(Score>0 and Score<=100):
    print("Valid Score")
else:
    print("Invalid Score")

 199

Invalid Score

In [9]:
age=int(input())

if(age>=18 and age<=65):
    print("you are eligible for work")
else:
    print("you are not eligible to work")

 43

you are eligible for work

In [ ]:
'''
-----Assignment Operator------

'''

In [11]:
number=int(input())

number*=number
print(number)

 2

4

In [13]:
x = int(input("Enter value of x: "))
y = int(input("Enter value of y: "))

# Swapping using assignment operator (tuple unpacking)
x, y = y, x

# Output the swapped values
print("After swapping:")
print("x =", x)
print("y =", y)

Enter value of x:  2
Enter value of y:  3

After swapping:
x = 3
y = 2

In [15]:
num=1

while(num<100):
    print(num)
    num*=2
print(num)

1
2
4
8
16
32
64
128

In [17]:
a=int(input())
b=int(input())
c=int(input())

total=a+b+c

total/=3

print(total)

 34
 35
 36

35.0

In [1]:
a=int

In [11]:
a=int(input())

a**=2
print(a)

 2

4

In [17]:
a=input()
b=input()

if(len(a)>len(b)):
    print("first string length is greater")
elif(len(b)>len(a)):
    print("second string length is greater")
else:
    print("Both are equal")

 asdfgh
 sdfg

first string length is greater

In [21]:
year=int(input())

if(year%4==0):
    if(year%100==0):
        if(year%400==0):
            print("It is a leap year")
        else:
            print("It is not")
    else:
        print("It is not")

else:
    print("It is not")

 2000

It is a leap year

In [23]:
a=7
b=2

result=a/b
print(result)

3.5

In [25]:
a=17
b=5
reminder=a/b
print(reminder)

3.4

In [27]:
sum=0

for i in range(1,50):
    if(i%2==0):
       sum+=i
print(sum)

600

In [29]:
a=int(input())
b=int(input())

Sum=a+b

print(Sum)

 23
 34

57

In [37]:
while True:
    try:
        num1 = float(input("Enter the first number: "))
        num2 = float(input("Enter the second number: "))
        total = num1 + num2
        
        if total < 100:
            print(f"The sum is {total}.")
            break
        else:
            print("The sum is 100 or more. Please enter the numbers again.\n")
    except ValueError:
        print("Invalid input. Please enter numeric values.\n")

Enter the first number:  70
Enter the second number:  70

The sum is 100 or more. Please enter the numbers again.

Enter the first number:  70
Enter the second number:  0

The sum is 70.0.

In [39]:
length=int(input())
width=int(input())

area=length*width

print(area)

 20
 40

800

In [41]:
a=int(input())
b=int(input())

a**=2
b**=2

print(a)
print(b)

 2
 3

4
9

In [43]:
a=int(input())
b=int(input())

total=a+b
total/=2

print(total)

 24
 24

24.0

In [45]:
print(type(total))

<class 'float'>

In [47]:
reminder=total/2
print(reminder)

12.0

In [49]:
print(int(reminder))

12