In [3]:
num=0
a,b=0,1
while num<10:
     print(a)
     a,b=b,a+b
     num += 1

0
1
1
2
3
5
8
13
21
34

In [1]:
number = int(input("Enter a number to print its multiplication table: "))

num=1

while(num<=10):
    print(f'Multiplication table for {number}x{num}',number*num)
    num+=1

Enter a number to print its multiplication table:  5

Multiplication table for 5x1 5
Multiplication table for 5x2 10
Multiplication table for 5x3 15
Multiplication table for 5x4 20
Multiplication table for 5x5 25
Multiplication table for 5x6 30
Multiplication table for 5x7 35
Multiplication table for 5x8 40
Multiplication table for 5x9 45
Multiplication table for 5x10 50

In [1]:
num=1

while(num<100):
    if(num%2!=0):
       print(num)
    num+=1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99